<template id="SignInPage">
    <div>
        <form>
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" id="svg3777" version="1.1"
                viewBox="0 0 2874.26 528">
                <title id="title3742">Tunr Logo</title>
                <g id="g3817">
                    <rect id="rect3744" height="159" width="255" y="184.5" x="280.5" />
                    <path id="path3746" d="M 535,185 V 343 H 281 V 185 h 254 m 1,-1 H 280 v 160 h 256 z" />
                    <rect id="rect3748" height="159" width="255" y="368.5" x="280.5" />
                    <path id="path3750" d="M 535,369 V 527 H 281 V 369 h 254 m 1,-1 H 280 v 160 h 256 z" />
                    <rect id="rect3752" height="159" width="255" y="368.5" x="0.5" />
                    <path id="path3754" d="M 255,369 V 527 H 1 V 369 h 254 m 1,-1 H 0 v 160 h 256 z" />
                    <rect id="rect3756" height="159" width="255" y="368.5" x="560.5" />
                    <path id="path3758" d="M 815,369 V 527 H 561 V 369 h 254 m 1,-1 H 560 v 160 h 256 z" />
                    <rect id="rect3760" height="159" width="255" y="184.5" x="560.5" />
                    <path id="path3762" d="M 815,185 V 343 H 561 V 185 h 254 m 1,-1 H 560 v 160 h 256 z" />
                    <rect id="rect3764" height="159" width="255" y="0.5" x="560.5" />
                    <path id="path3766" d="M 815,1 V 159 H 561 V 1 h 254 m 1,-1 H 560 v 160 h 256 z" />
                    <path id="path3768" d="M 1131.28,520.63 H 990.89 V 115.8 H 864 V 1 h 393.81 v 114.8 h -126.53 z" />
                    <path id="path3770" d="m 1753.51,1 v 312.78 q 0,102 -57.76,158 -57.76,56 -166.52,56 -106.28,0 -163.32,-54.38 -57.04,-54.38 -57,-156.39 V 1 H 1450 v 305 q 0,55.1 20.61,80 20.61,24.9 60.78,24.88 43,0 62.38,-24.7 19.38,-24.7 19.37,-80.86 V 1 Z" />
                    <path id="path3772" d="m 2337,520.63 h -184.11 l -189.8,-366.09 h -3.2 q 6.75,86.37 6.75,131.86 v 234.23 h -124.4 V 1 h 183.4 l 189.09,361.11 h 2.13 q -5,-78.55 -5,-126.18 V 1 H 2337 Z" />
                    <path id="path3774" d="m 2569.33,331.55 v 189.08 h -140.4 V 1 h 170.25 Q 2811,1 2811,154.54 q 0,90.28 -88.15,139.68 l 151.41,226.41 H 2715.05 L 2604.87,331.55 Z m 0,-105.56 h 26.3 q 73.57,0 73.57,-65 0,-53.66 -72.15,-53.67 h -27.72 z" />
                </g>
            </svg>
            <input name="email" type="email" placeholder="email" autofocus />
            <input name="password" type="password" placeholder="password" />
            <div>
                <button name="signin" type="button">Sign In</button>
                <button name="register" type="button">Register</button>
            </div>
        </form>
    </div>
</template>