<!DOCTYPE html>
<html>
    <head>
        <title>🔊Tunr</title>
        <style>
            :root {
                --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            body {
                background: #fff;
                color: #000;
                font-family: var(--font-family);
                padding: 8px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>Tunr</header>
    </body>
</html>