/* SignInPage styles */
div.component.signInPage {
    background-color: var(--color-foreground); /* Sign in is inverted */
    color: var(--color-background);
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 280px;
        display: flex;
        flex-direction: column;
        padding: 16px;

        svg {
            margin: 10px;
        }

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            button {
                cursor: pointer;
                font-family: var(--font-primary);
                padding: 6px 0 6px 6px;
                margin: 4px;
                height: 28px;
                text-transform: uppercase;
                background-color: transparent;
                color: var(--color-background);
                border: none;

                &[name='register'] {
                    font-size: 12px;
                    font-weight: 600;
                }

                &[name='signin'] {
                    font-size: 20px;
                    font-weight: 900;
                }
            }
        }
    } /* /form */

    form.register {
        display: none;
    }
} /* /div.signInPage */
